@charset "UTF-8";
* {
  font-family: Fregat, Serif;
  font-size: 14px; }

/* For mobile phones: */
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
body {
  background-color: #EDEEF0 !important; }

.navbar {
  background-color: #383838; }

.nav-link-my {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
  color: #EAEBEE; }
  .nav-link-my:hover {
    color: #FFC702;
    text-decoration: none; }

.img-mail {
  margin-top: 0.5em;
  margin-left: 6em; }

.img-profile {
  margin-top: 0.5em; }

.search {
  height: 25px;
  margin-top: 0.3em;
  margin-right: 2em;
  background-color: #EAEBEE;
  color: #000; }

.search-mid {
  background-color: #3A3A3A;
  color: #FFC702;
  border: none;
  font-size: 1.2em;
  width: 173px;
  border-radius: 3px;
  margin-left: -2em; }
  .search-mid:hover {
    background-color: #575757; }

.container-mid {
  padding-right: 0px;
  padding-left: 0px; }

.container-mid nav {
  background-color: #FFC702;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 45px; }

/* ╨и╨╕╤А╨╕╨╜╨░ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
#slider {
  width: 40%;
  background-color: #FFC702; }

/* ╨Ъ╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
.ui-slider {
  position: relative; }

/* ╨Я╨╛╨╗╨╖╤Г╨╜╨╛╨║ */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 14px;
  /* ╨Ч╨░╨┤╨░╨╡╨╝ ╨╜╤Г╨╢╨╜╤Г╤О ╤И╨╕╤А╨╕╨╜╤Г */
  height: 14px;
  /* ╨╕ ╨▓╤Л╤Б╨╛╤В╤Г */
  background: black;
  /* ╨║╨░╤А╤В╨╕╨╜╨║╨░ ╨╕╨╖╨╛╨▒╤А╨░╨╢╨░╤О╤Й╨░╤П ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║. ╨Ш╨╗╨╕ ╨╝╨╛╨╢╨╜╨╛ ╨╖╨░╨╗╨╕╤В╤М ╤Ж╨▓╨╡╤В╨╛╨╝, ╨╖╨░╨┤╨░╤В╤М ╨▒╨╛╤А╨┤╤О╤А ╨╕ ╤Б╨║╤А╤Г╨│╨╗╨╡╨╜╨╕╤П */
  cursor: pointer; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden; }

/* ╨│╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╤М╨╜╤Л╨╣ ╤Б╨╗╨░╨╣╨┤╨╡╤А (╤Б╨░╨╝╨░ ╨┐╨╛╨╗╨╛╤Б╨░ ╨┐╨╛ ╨║╨╛╤В╨╛╤А╨╛╨╣ ╨▒╨╡╨│╨░╨╡╤В ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║) */
.ui-slider-horizontal {
  height: 3px;
  /* ╨╖╨░╨┤╨░╨╡╨╝ ╨▓╤Л╤Б╨╛╤В╤Г ╤Б╨╛╨│╨╗╨░╤Б╨╜╨╛ ╨┤╨╕╨╖╨░╨╣╨╜╨░ */ }

/* ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╤Г╨╡╨╝ ╨┐╨╛╨╗╨╖╤Г╨╜╨║╨╕ */
.ui-slider-horizontal .ui-slider-handle {
  top: -7px;
  margin-left: -6px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

/* ╨╛╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨┐╨╛╨╗╨╛╤Б╤Л ╨┐╨╛ ╨║╨╛╤В╨╛╤А╨╛╨╣ ╤Е╨╛╨┤╨╕╤В ╨┐╨╛╨╗╨╖╤Г╨╜╨╛╨║ */
.ui-widget-content {
  border: 2px solid #FFF;
  background: #FFF; }

/* ╨╛╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨░╨║╤В╨╕╨▓╨╜╨╛╨│╨╛ ╤Г╤З╨░╤Б╤В╨║╨░ (╨╝╨╡╨╢╨┤╤Г ╨┤╨▓╤Г╨╝╤П ╨┐╨╛╨╗╨╖╤Г╨╜╨║╨░╨╝╨╕) */
.ui-widget-header {
  border: 1px solid #FFF;
  background: #FFF; }

/* ╤Б╨║╤А╤Г╨│╨╗╨╡╨╜╨╕╨╡ ╨┤╨╗╤П ╨┐╨╛╨╗╨╛╤Б╤Л ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

#minCost {
  margin-right: 7px;
  font-size: 16px;
  border: 0;
  background-color: #FFC702;
  text-align: right;
  font-weight: 400;
  width: 71px; }

#maxCost {
  margin-left: 10px;
  margin-top: 2px;
  border: 0;
  background-color: #FFC702;
  font-weight: 400;
  font-size: 16px;
  width: 100px; }

.mid-nav-input {
  width: 200px !important;
  height: 30px;
  font-size: 1em; }

.main {
  margin-top: 1em;
  margin-bottom: 1em; }

.block {
  background-color: #FFF;
  border: 1px solid lightgray;
  margin-bottom: 1em; }

.block img {
  float: left;
  padding-right: 1.5em; }

.left {
  padding-right: 5px; }

.right {
  padding-left: 5px; }

.card-text {
  line-height: 1.1em; }

.card-text-article {
  margin-bottom: 15px;
  line-height: 1.1em; }

p {
  margin-bottom: 8px; }

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.comment {
  background-color: #3A3A3A;
  color: #FFC702;
  padding: 5px;
  border-radius: 3px; }
  .comment:hover {
    color: #FFC702;
    text-decoration: none;
    background-color: #575757; }

.line {
  background-color: #FFC702;
  margin-top: -0.6em;
  margin-bottom: 1em; }

.card img {
  width: 100%; }

.img-gallery {
  height: 250px; }

.card-block {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 162px; }

.my-card-block {
  padding: 10px 1.25em 10px 1.25em;
  height: 100px; }

.card {
  margin-bottom: 1.25em; }

.my-card-footer {
  margin-top: 26px; }

.footer {
  background-color: #262626;
  height: 100px;
  color: #FFF; }
  .footer ul {
    list-style-type: none;
    white-space: nowrap;
    padding-left: 0;
    margin-top: 1em; }
  .footer a {
    color: #FFF; }
  .footer a:hover {
    text-decoration: none;
    color: #FFC702; }
  .footer a:active {
    text-decoration: none;
    color: #FFC702; }
  .footer .text {
    white-space: nowrap;
    line-height: 1.2em;
    margin-left: -10px;
    margin-top: 1em; }

.allgid-logo {
  margin-top: 1em; }

.copyright {
  white-space: nowrap; }

.social {
  color: #FFC702;
  margin-top: 1em;
  margin-left: 30px;
  margin-right: -30px; }

.right-ul {
  margin-left: 2em; }

.logo {
  border-radius: 4px;
  background-color: #FFF;
  margin-left: 8em;
  margin-top: 1em; }

.company-logo {
  position: absolute;
  z-index: 99999;
  top: 8.5em;
  left: 3em; }

.client-card-block-header {
  padding: 10px 1.25em 10px 1.25em; }
  .client-card-block-header input {
    float: right;
    margin-right: 10px; }

.button {
  background-color: #383838;
  border-radius: 3px;
  color: #FFC702;
  border: none;
  width: 150px; }
  .button:hover {
    background-color: #575757;
    color: #FFC702; }

ol li {
  line-height: 1.2em; }

.card-img-bottom {
  width: 25em !important;
  margin: 5px; }

.card-block-right {
  padding: 1.25em;
  background-color: #3A3A3A;
  color: #FFF; }
  .card-block-right span {
    color: #FFC702; }
  .card-block-right ul li {
    line-height: 1.2em; }

hr.white {
  background-color: white; }

hr.gray {
  background-color: #CACACA;
  width: 90%; }

.card-title-right {
  margin-bottom: .75rem;
  color: #FFC702; }

.client-card-block {
  padding: 10px 1.25em 10px 1.25em; }

.content-sale {
  background-color: #262626;
  color: #FFC702;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2px; }
  .content-sale span {
    margin-left: 3px;
    font-size: 18px; }

.definition {
  margin-left: 18px;
  margin-top: 7px;
  line-height: 14px; }

.price {
  margin-left: 18px;
  line-height: 18px; }

.opinion {
  padding: 10px; }
  .opinion img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left; }

.sidebar-sale {
  margin-bottom: 15px; }
  .sidebar-sale img {
    width: 100%; }

.client-card-header {
  display: inline-block;
  margin-left: 10px;
  line-height: 1em; }

.sale-card-body {
  margin-top: 10px; }

.sale-date {
  font-size: 10px;
  color: gray; }

.gallery {
  margin-top: 20px; }

.client-buttons-center {
  margin-top: 10px;
  margin-left: 260px; }

.text {
  white-space: nowrap; }

.contacts {
  margin-top: 15px; }

.my-card-block-article {
  padding: 10px 1.25em 10px 1.25em; }

.sda {
  color: black; }

.sda-card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  border: 1px solid #CACACA;
  border-radius: .25rem; }
  .sda-card.orange {
    background-color: #FFBF07; }
  .sda-card.white {
    background-color: #FFFFFF; }
  .sda-card.gray {
    background-color: #CACACA; }

.sda-header {
  padding: 10px; }

.sda-img {
  margin-left: 10px; }
  .sda-img img {
    border: 7px solid white;
    border-radius: 3px; }

.sda-buttons {
  margin-top: 15px;
  margin-left: 10px; }
  .sda-buttons input {
    margin-right: 10px; }

hr.black {
  background-color: black;
  width: 97%;
  margin-top: 14px; }

.sda-footer {
  margin-left: 10px;
  margin-bottom: 10px; }

.sda-time {
  display: inline;
  margin-left: 5px; }

.sda-caption {
  display: inline;
  margin-left: 66px; }

.img-border {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #CACACA; }

.sda-card-text {
  margin: 10px;
  line-height: 1em;
  white-space: nowrap; }

.text_area {
  resize: none;
  padding-left: 10px;
  height: 100px;
  border: 1px solid #CACACA;
  margin: 10px;
  width: 97%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.my-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .my-container input {
    margin-bottom: 10px; }

.sda-social {
  margin-left: 17px;
  margin-bottom: 10px; }

/*# sourceMappingURL=default.css.map */
