* {
    font-family: Fregat;
    font-size: 14px;
}

/* For mobile phones: */
//[class*="col-"] {
//    width: 100%;
//}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body {
    background-color: #EDEEF0!important;
}

.navbar {
    border-radius: 0!important;
    margin-bottom: 0!important;
}

.navbar-mid {
    background-color: #FFC702;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 0 0 3px 3px !important;
    select {
        width: 80%;
        height: 26px;
    }
}

.map {
    width: 88%!important;
    margin-left: 6%!important;
    margin-right: 6%!important;
}

.nav-logo {
    margin-top: -10px;
    margin-left: 10px !important;
    margin-right: 100px !important;
}

.navbar-nav li {
    margin-right: -12px;
}

.icons {
    margin-top: -8px !important;
    margin-bottom: -10px !important;
    margin-right: 10px !important;
}

.form {
    margin-top: 8px;
}

/* Кнопка поиска */
.submit {
    width: 100%;
    min-height: 25px;
    background-color: #434343;
    color: #ffc702;
    border: none;
    border-radius: 3px;
}

.search {
    input, button {
        height: 27px;
        margin-top: 4px;
    }

}



///////////////////slider on index page//////////////////
/* Ширина слайдера */
#slider {
    width: 20%;
}

/* Контейнер слайдера */
.ui-slider {
    position: relative;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 14px; /* Задаем нужную ширину */
    height: 14px; /* и высоту */
    background: black; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
    height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: 2px solid #fff;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    border: 1px solid #fff;
    background: #fff;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#minCost {
    margin-right: 7px;
    font-size: 16px;
    border: 0;
    background-color: #ffc702;
    text-align: right;
    font-weight: 400;
    width: 65px;
}

#maxCost {
    margin-left: 10px;
    margin-top: 2px;
    border: 0;
    background-color: #ffc702;
    font-weight: 400;
    font-size: 16px;
    width: 100px;
}

.card {
    background-color: #FFFFFF;
    border: 0.1px lightgray solid;
    margin-right: 10px;
}

.cards-row {
    margin-left: 6%;
}


#ul_header{
    list-style: none;
    & li:before{
        content: "\2014";
        position: absolute;
        left: 25px;
    }
}

.my_content {
    margin-top: 50px;
}


.service-container {

    margin-top: 10px;
    & img {
        margin-left: -15px;
    }

    & .review-count {
        padding-top: 5px;
    }
}

.review {
    padding-top: 7px;
}

//.fon {
//    background-color: white;
//    position: relative;
//    z-index: 1;
//}

//.fon2 {
//    position: relative;
//    z-index: 1;
//}

//.select {
//  margin-bottom: 10px;
//  margin-right: 20px;
//}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

