@font-face {
    font-family: 'Fregat';
    src: url('../fonts/Fregat/Fregat.eot');
    src: local('Fregat'),
    url('../fonts/Fregat/Fregat.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fregat/Fregat.woff') format('woff'),
    url('../fonts/Fregat/Fregat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fregat-boldItalic';
    src: url('../fonts/Fregat/Fregat-BoldItalic.eot');
    src: local('Fregat Bold Italic'), local('Fregat-BoldItalic'),
    url('../fonts/Fregat/Fregat-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fregat/Fregat-BoldItalic.woff') format('woff'),
    url('../fonts/Fregat/Fregat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fregat-bold';
    src: url('../fonts/Fregat/Fregat-Bold.eot');
    src: local('Fregat Bold'), local('Fregat-Bold'),
    url('../fonts/Fregat/Fregat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fregat/Fregat-Bold.woff') format('woff'),
    url('../fonts/Fregat/Fregat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fregat-italic';
    src: url('../fonts/Fregat/Fregat-Italic.eot');
    src: local('Fregat Italic'), local('Fregat-Italic'),
    url('../fonts/Fregat/Fregat-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fregat/Fregat-Italic.woff') format('woff'),
    url('../fonts/Fregat/Fregat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}